.scaffold-layout__main>div:nth-child(2),
.scaffold-layout__main>div:nth-child(3) {
    display: none;
}

.scaffold-layout__aside>div:nth-child(2) {
    display: none;
}

.ad-banner-container {
    display: none;
}
